.sapUiForm .sapMLabel {
    font-weight: bold !important;
}

.sapUiLocalBusyIndicatorShowContainer>div.sapUiLocalBusyIndicatorAnimation {
    background-color: none !important;
    box-shadow: none !important;
}
